.watchlist-main-div {
  color: white;
  background-color: black;
  height: 92.3vh;
  width: 25%;
  margin: 3.7rem 0 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 1px solid rgba(255,255,255,0.2);;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
