@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* remove after adding fonts to all texts */
}

.nav {
  height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 0 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

.nav > .nav-links > a:hover {
  background-color: white;
  color: black;
  /* clip-path: polygon(calc(100% - 15px) 0,100% 15px,100% 100%,0 100%,0 0); */
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: white;
  }
  .nav > .nav-btn > label:hover > span {
    border-top: 2px solid black;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid white;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.nav-title > a {
  color: white;
}
.nav-title > a:link {
  color: white;
}

/* visited link */
.nav-title > a:visited {
  color: white;
}

/* mouse over link */
.nav-title > a:hover {
  color: white;
}

/* selected link */
.nav-title > a:active {
  color: white;
}