.dashboard-table-wrapper {
  display: grid;
  grid-template-columns: repeat(12, auto);
  font-size: 0.75rem;
  text-align: center;
}
.dashboard-table-wrapper > div {
  padding: 0.3rem 0;
  border-right: 1px solid grey;
  background-color: grey;
}
.dashboard-table-row {
  display:contents;
}
.dashboard-table-row > div {
  padding: 0.3rem 0;
  border-bottom: 1px solid grey;
}